<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="header">
      <h1>URL Shortener Microservice</h1>
    </div>
    <form action="/" method="POST">
    	<label for="url_input"> URL: </label>
    	<br />
    	<input
        	name="url_input"
        	id="url_input"
        	type="text"
        	placeholder="Enter URL"
      	/>
    	<br />
    	<input type="submit" value="Submit" />
		<p>
		
		</p>
    </form>
    <footer>
      <h3>Made by Rudraksh Nanavaty</h3>
    </footer>
  </body>
</html>
